<header class="page-header">
  <h2>Castle: <strong>{{ castle.name }}</strong></h2>
  <a href="/kingdoms">Back to Kingdoms</a>
</header>


<p>ID: {{ castle.id }}</p>
<p>Name: {{ castle.name }}</p>
<p>Number of Lieges: {{ castle.liege.length }}</p>


<header class="page-header">
  <h3>New Liege</h3>
</header>


<form action="/lieges" method="post">
  <input type="hidden" name="liege[castle_id]" value="{{ castle.id }}">
  <div class="form-group">
    <label for="liege_name">Liege's Name</label>
    <input type="text" class="form-control" name="liege[name]">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>


{{#if (isEmpty castle.lieges) }}
  <p class="text-danger">No lieges</p>
{{else }}
  <h3>Lieges</h3>
  <ul class="list-group">
    {{#each castle.lieges as |liege| }}
      <li class="list-group-item">
        <p>ID: {{ liege.id }}</p>
        <p>
          Name:
          <a href="/lieges/{{ liege.id }}">
            {{ liege.name }}
          </a>
        </p>
        <p>Number of Vassals: {{ liege.vassals.length }}</p>
      </li>
    {{/each }}
  </ul>
{{/if }}








